---
layout: page
title: Djui's Blog
---

{% include JB/setup %}

<div class="posts">
  
  {% for post in site.posts %}
  <div class="post">
    <h1 class="entry-title">
      <a href="{{ BASE_PATH }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
    </h1>
    <div class="date">
      <span>{{ post.date | date_to_long_string }}</span>
    </div>
    
    <article>
      {% assign parts = post.content | split:"<!-- more -->" %}
      {% if parts | count > 1 %}
          {{ parts | first }}
          <div class="more"><a href="{{ post.url }}">Continue &raquo;</a></div>
      {% else %}
          {{ post.content }}
      {% endif %}
    </article>
  </div>
  {% endfor %}
  
  <!-- links to prev and next pages for browsing thru archives -->
  {% if paginator.previous_page == 1 %}
      <span id="newer"><a href="/">&laquo;&laquo; Newer Entries</a></span>
  {% elsif paginator.previous_page %}
      <span id="newer"><a href="/page{{ paginator.previous_page }}">&laquo;&laquo; Newer Entries</a></span>
  {% endif %}
  {% if paginator.next_page %}
      <span id="older"><a href="/page{{ paginator.next_page }}">Older Entries &raquo;&raquo;</a></span>
  {% endif %}
  
</div>
