/******************************************************************************/
/* Theme djui style                                                           */
/******************************************************************************/

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: local("Inconsolata"),
    url(http://themes.googleusercontent.com/static/fonts/inconsolata/v6/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format("woff");
}

@font-face {
    font-family: "BentonSans";
    src: url("../font/benton-sans_normal_100.eot");
    src: url("../font/benton-sans_normal_100.eot?") format("embedded-opentype"),
    url("../font/benton-sans_normal_100.woff") format("woff"),
    url("../font/benton-sans_normal_100.ttf") format("truetype"),
    url("../font/benton-sans_normal_100.svg#web") format("svg");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "BentonSans";
    src: url("../font/benton-sans_normal_400.eot");
    src: url("../font/benton-sans_normal_400.eot?") format("embedded-opentype"),
    url("../font/benton-sans_normal_400.woff") format("woff"),
    url("../font/benton-sans_normal_400.ttf") format("truetype"),
    url("../font/benton-sans_normal_400.svg#web") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "BentonSans";
    src: url("../font/benton-sans_normal_600.eot");
    src: url("../font/benton-sans_normal_600.eot?") format("embedded-opentype"),
    url("../font/benton-sans_normal_600.woff") format("woff"),
    url("../font/benton-sans_normal_600.ttf") format("truetype"),
    url("../font/benton-sans_normal_600.svg#web") format("svg");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "BentonSans";
    src: url("../font/benton-sans_normal_700.eot");
    src: url("../font/benton-sans_normal_700.eot?") format("embedded-opentype"),
    url("../font/benton-sans_normal_700.woff") format("woff"),
    url("../font/benton-sans_normal_700.ttf") format("truetype"),
    url("../font/benton-sans_normal_700.svg#web") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family:"MuseoSans";
    src:url("../font/museo-sans_normal_300.woff") format("woff");
    font-style:normal;
    font-weight:300;
}

@font-face {
    font-family:"MuseoSans";
    src:url("../font/museo-sans_normal_700.woff") format("woff");
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family:"MuseoSans";
    src:url("../font/museo-sans_italic_300.woff") format("woff");
    font-style:italic;
    font-weight:300;
}

@font-face {
    font-family:"MuseoSans";
    src:url("../font/museo-sans_italic_700.woff") format("woff");
    font-style:italic;
    font-weight:700;
}

body {
    /* http://www.vagrantup.com/ */
    font-family: "MuseoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    /* http://thenextweb.com/ */
    /*
    font-family: "BentonSans", helvetica, arial, sans-serif;
    font-weight: 400;
    */
    font-style: normal;
    font-size: 1em;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 1px 0 #ccc;
}

a {
    color: #46adff;
}

li {
    line-height: 1.5;
}

code, kbd {
    color: #000;
}

code, pre, kbd {
    font-family: "Inconsolata", Monaco, Menlo, Consolas, "Courier New", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

kbd {
    padding: 2px 4px;
    background-color: #f7f7f9;
    border: 1px outset #e1e1e8;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.tag_box,
ol.tag_box {
    margin-bottom: 3px;
}

ul.tag_box>li,
ol.tag_box>li {
    padding: 0;
}

.twitter-share-button:hover {
    color: #4099ff;
}

#push {
    height: 60px;
}

footer {
    min-height: 160px;
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 700px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.credit {
    padding: 10px 0;
}

.nowrap {
    white-space: nowrap;
}

/******************************************************************************/
/* Jekyll Bootstrap style                                                     */
/******************************************************************************/

/* Custom container */
.container-narrow {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.navbar .brand {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar .nav {
    float: right;
}

/* posts index */
.post > h3.title {
    position: relative;
    padding-top: 10px;
}

.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}

.post > .more {
    margin: 10px 0;
    text-align: left;
}

.post > .date {
    margin-bottom: 20px;
    font-weight: bold;
}
